In [0]:
-- For each product category, compute total revenue per product and then rank products within their category by total revenue. Return only the top 3 products per category.

-- **Output columns**

-- - `product_category_name`
-- - `product_id`
-- - `total_revenue`
-- - `revenue_rank_in_category`

WITH cte as (SELECT pd.product_id,
pd.product_category_name,
sum(oi.price) as total_revenue
FROM olist_products_dataset pd
JOIN olist_order_items_dataset oi ON oi.product_id = pd.product_id
GROUP BY pd.product_id, pd.product_category_name)
, rankings as (
SELECT *,
DENSE_RANK(total_revenue) OVER (PARTITION BY product_category_name ORDER BY total_revenue DESC) as revenue_rank_in_category
FROM cte)

SELECT * FROM rankings
WHERE revenue_rank_in_category <= 3